<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side"
               opened>
    <div class=""></div>

  </mat-sidenav>

  <mat-sidenav-content id="profile-wrapper">
    <h2> {{ 'PROFILE' | translate }}</h2>

    <mat-card>
      <div class="flex-container">

        <img src="/assets/img/default-profile.jpg"
             height="100"
             width="100">

        <div class="fields">

          <mat-form-field hintLabel="{{ 'HINT_PROFILE_NAME' | translate }}">
            <input matInput
                   [placeholder]="'NAME' | translate"
                   [(ngModel)]="user.userName">
          </mat-form-field>

          <mat-form-field hintLabel="{{ 'HINT_PROFILE_EMAIL' | translate }}">
            <input matInput
                   [placeholder]="'EMAIL' | translate"
                   [(ngModel)]="user.email"
                   [disabled]="true">
          </mat-form-field>

          <mat-checkbox [(ngModel)]="user.anonymous">{{'ANONYMOUS' | translate}}</mat-checkbox>

          <small>{{ 'HINT_PROFILE_ANONYMOUS' | translate }}</small>

        </div>
      </div>
      
    <button mat-raised-button (click)="save()"> {{'SAVE' | translate}}</button>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>