<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side"
               opened>
    <div *ngFor="let service of services"
         class="service"
         (click)="selectService(service.id)"
         [class.underlined]="selectedService === service.id">
      {{service.name}}
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <h2><mat-icon *ngIf="selectedService !== undefined" (click)="backToOverview()" >arrow_back</mat-icon>{{'ACHIEVEMENTS' | translate}} </h2>
    

      <div *ngIf="selectedService === undefined" class="flex-container">
        <mat-card *ngFor="let service of services">
          <mat-card-header>
            <span>
              {{service.name}}
            </span>
            <span>
              {{getOverallCompletion(achievements) | number:'1.0-0'}}%
            </span>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li *ngFor="let achievement of achievements"> {{achievement.name}}: {{achievement.progress | number:'1.0-0'}}%</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="selectedService !== undefined" class="flex-column-container">
        <div *ngFor="let achievement of achievements" class="achievement">
          <span>{{achievement.name}} - {{achievement.description}}({{achievement.progress | number:'1.0-0'}}%)</span>
        </div>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>