<div class="header"><img src="./assets/img/trophy.png"
       id="logo"
       width="40"
       height="40" />
  <div class="toolbar">

    <div class="language">
      <mat-select name="language" color="accent"
                  [ngModel]="selectedLanguage"
                  (ngModelChange)="setLanguage($event)">
        <mat-option value="de">{{'GERMAN' | translate}}</mat-option>
        <mat-option value="en">{{'ENGLISH' | translate}}</mat-option>

      </mat-select>
    </div>
    <button (click)="logout()">{{'LOGOUT' | translate}}</button>
  </div>
</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side"
               opened>
    <ul>
      <li routerLink="/profile"> {{'PROFILE' | translate}} </li>
      <li routerLink="/services"> {{'SERVICES' | translate}} </li>
      <li routerLink="/ranking"> {{'RANKING' | translate}} </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>