@import '../../scss/variables';

.flex-container{
    display: flex;
    flex-direction: row;
    .fields{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    img{
        margin: 1rem;
    }
}

mat-sidenav-container {
    background-color: map-get($color, primary-background);
    height: calc(100vh - 5rem);
    mat-sidenav {
      min-width: 20rem;
      padding-right: 2rem;
      background-color: map-get($color, primary-dark);
      color: map-get($color, primary-background);
    }
  }
  
  mat-sidenav-content {
    padding: 2rem;
  }
  