.body {
  display: flex;
  flex-direction: row;
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 20rem;
    height: 100vh;
    background-color: grey;
    li {
      border-bottom: white solid 2px;
      color: white;
      margin: 1rem;
    }
  }
  .main{
      margin-left: 20rem;
      width: calc(100vw - 20rem);
      height: 80vh;
      border-radius: 5px;
      background-color: honeydew;
  }

}
